.outer-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 20px;
}
.inner-div {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.AddToCartBtn {
  height: 50px;
  background-color: black;
  color: white;
  padding: 0 10px;
  font-size: 20px;
  border: 2px solid white;
  border-radius: 10px;
}
