.HomeContent2 {
  padding-bottom: 40px;
}
.HomeContent2 h3 {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
.HomeContent2 img {
  height: 100%;
  width: 100%;
  margin-bottom: 20px;
}
